table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .js-name-price-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .js-heading{
    text-align: center;
  }